In [1]:
# import pandas
import os
import pandas as pd

In [2]:
# read excel file and print top 5 rows
df = pd.read_excel('FINAL450.xlsx')
df.head()

,Unnamed: 0,Questions by Love Babbar:,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,NaN,Youtube Channel: https://www.youtube.com/chann...,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN
2,Topic:,Problem:,Done [yes or no],Date,Pending
3,NaN,NaN,<->,NaN,NaN
4,Array,Reverse the array,Yes,2022-05-06 00:00:00,NaN

In [3]:
# rename columns and print columns
df.columns=['Topic', 'Problem', 'Status', 'Date', 'Pending']
df.columns

Index(['Topic', 'Problem', 'Status', 'Date', 'Pending'], dtype='object')

In [4]:
# delete first 4 rows and print top 5 rows"
df.drop([0,1,2,3], inplace=True)
df.head()

,Topic,Problem,Status,Date,Pending
4,Array,Reverse the array,Yes,2022-05-06 00:00:00,NaN
5,Array,Find the maximum and minimum element in an array,Yes,2022-05-07 00:00:00,2 approaches
6,Array,"Find the ""Kth"" max and min element of an array",<->,NaN,NaN
7,Array,"Given an array which consists of only 0, 1 and...",<->,NaN,NaN
8,Array,Move all the negative elements to one side of ...,<->,NaN,NaN

In [5]:
# delete blank rows and print shape
df.drop(df[df.Topic.isnull()].index, inplace=True)
df.shape

(448, 5)

In [6]:
# delete 'Status', 'Date', 'Pending' columns and print top 5 rows
df.drop(['Status', 'Date', 'Pending'], axis=1, inplace=True)
df.head()

   Topic                                            Problem
4  Array                                  Reverse the array
5  Array   Find the maximum and minimum element in an array
6  Array    Find the "Kth" max and min element of an array
7  Array  Given an array which consists of only 0, 1 and...
8  Array  Move all the negative elements to one side of ...

In [7]:
# print number of problems per topic
for topic,topic_group in df.groupby('Topic'):
    print(topic,topic_group.shape[0])

Array 36
BackTracking 19
Binary Search Trees 22
Binary Trees 35
Bit Manipulation 10
Dynamic Programming 60
Graph 44
Greedy 35
Heap 18
LinkedList 36
Matrix 10
Searching & Sorting 36
Stacks & Queues 38
String 43
Trie 6

In [8]:
# fix problem string for file names
def fix_file_name(file_name):
    file_name=file_name.strip()
    file_name=file_name.split('[')[0]
    file_name=file_name.replace(' ','_')
    file_name=file_name.replace('"','')
    file_name=file_name.replace(',','_')
    file_name=file_name.replace('*','power')
    file_name=file_name.replace('/','divide')
    file_name=file_name.replace('-','_')
    file_name=file_name.replace('>','_')
    file_name=file_name.replace('<','_')
    file_name=file_name.replace('.','_')
    file_name=file_name.replace('?','')
    file_name=file_name.replace('|','')
    file_name=file_name.replace(':','')
    return file_name.lower()

df['Problem'] = df['Problem'].apply(fix_file_name)

In [9]:
# create and navigate to new folder
os.mkdir('Final 450')
os.chdir('Final 450')

In [10]:
# create a folder for all topics which contains a subfolder with an empty CPP file for all problems related to that topic
for i, (topic, topic_group) in enumerate((df.groupby('Topic'))):
    topic_folder_name=f'{i+1}.{topic}'
    os.mkdir(topic_folder_name)
    os.chdir(topic_folder_name)
    for j, (ind, row) in enumerate(topic_group.iterrows()):
        problem_folder_name=f'{j+1}.{row["Problem"]}'
        os.mkdir(problem_folder_name)
        os.chdir(problem_folder_name)
        open(f'1.{row["Problem"]}.cpp', 'a').close()
        os.chdir('..')
    os.chdir('..')